/* line 1, ../scss/style2.scss */
body { overflow-x: hidden; font-family: 'Open Sans', sans-serif; font-family: 'Tinos', serif; }

/* line 9, ../scss/style2.scss */
.slogan2, .box-about-gt .box-about-gt__content .slogan-about, .box-about-gt2 .box-about-gt__content .slogan-about, .box-about-gt2 .box-about-gt__content2 .slogan-about { color: #f9c979; font-size: 15px; font-weight: 400; text-transform: uppercase; padding-left: 5vw; }

/* line 16, ../scss/style2.scss */
.slogan2:before, .box-about-gt .box-about-gt__content .slogan-about:before, .box-about-gt2 .box-about-gt__content .slogan-about:before, .box-about-gt2 .box-about-gt__content2 .slogan-about:before { content: ''; position: absolute; left: 125px; top: 70px; height: 2px; width: 4vw; background: #f9c979; margin-left: 1vw; }

/* line 26, ../scss/style2.scss */
.box-about-gt, .box-about-gt2 { margin-bottom: 100px; background: #f8f7f6; }
/* line 30, ../scss/style2.scss */
.box-about-gt .box-about-gt__photo img, .box-about-gt2 .box-about-gt__photo img { position: relative; z-index: 5; object-fit: cover; height: 70vh; width: 50vw; right: 9vw; margin-top: 10vh; top: 40px; }
/* line 41, ../scss/style2.scss */
.box-about-gt .box-about-gt__content, .box-about-gt2 .box-about-gt__content, .box-about-gt2 .box-about-gt__content2 { padding-left: 140px; margin-left: -2vw; margin-top: 55px; }
/* line 45, ../scss/style2.scss */
.box-about-gt .box-about-gt__content .slogan-about, .box-about-gt2 .box-about-gt__content .slogan-about, .box-about-gt2 .box-about-gt__content2 .slogan-about { padding-top: 60px; }
/* line 50, ../scss/style2.scss */
.box-about-gt .box-about-gt__content h3, .box-about-gt2 .box-about-gt__content h3, .box-about-gt2 .box-about-gt__content2 h3 { font-size: 30px; }
/* line 52, ../scss/style2.scss */
.box-about-gt .box-about-gt__content h3 img, .box-about-gt2 .box-about-gt__content h3 img, .box-about-gt2 .box-about-gt__content2 h3 img { margin-bottom: 6px; margin-left: 10px; }
/* line 57, ../scss/style2.scss */
.box-about-gt .box-about-gt__content .text, .box-about-gt2 .box-about-gt__content .text, .box-about-gt2 .box-about-gt__content2 .text { margin-top: 15px; font-size: 15px; font-weight: 400; text-align: justify; }

/* line 67, ../scss/style2.scss */
.box-about-gt2 { margin-bottom: 50px; background: white; }
/* line 72, ../scss/style2.scss */
.box-about-gt2 .box-about-gt__photo2 img { position: relative; top: -2vh; left: 6vw; width: 48vw; height: 65vh; }
/* line 80, ../scss/style2.scss */
.box-about-gt2 .box-about-gt__content2 { padding-left: 10px; position: relative; bottom: 70px; }

/* line 89, ../scss/style2.scss */
.title-team { text-transform: uppercase; font-size: 28px; font-weight: bold; text-align: center; position: relative; padding-bottom: 20px; }
/* line 96, ../scss/style2.scss */
.title-team:before { content: ""; text-align: center; position: absolute; left: 37vw; height: 2px; top: 70px; width: 5vw; background: #f9c979; }

/* line 108, ../scss/style2.scss */
.team img { margin-top: 10px; border-radius: 50%; }
/* line 112, ../scss/style2.scss */
.team .name { font-size: 20px; font-weight: bold; }
/* line 116, ../scss/style2.scss */
.team .position { color: gray; }
/* line 119, ../scss/style2.scss */
.team .info { padding-bottom: 15px; }

/* line 126, ../scss/style2.scss */
.services_content img { width: 30vw; height: auto; object-fit: cover; }
/* line 132, ../scss/style2.scss */
.services_content .heading-sect a { text-decoration: none; color: #000; font-size: 28px; text-transform: uppercase; font-weight: bold; }
/* line 140, ../scss/style2.scss */
.services_content .heading-opac { font-size: 3em; font-weight: bold; opacity: 0.15; }
/* line 145, ../scss/style2.scss */
.services_content .content { text-align: justify; font-size: 16px; font-weight: 400; }

/* line 153, ../scss/style2.scss */
.services-image .box-photo { position: relative; }
/* line 155, ../scss/style2.scss */
.services-image .box-photo .photo { width: 100%; height: 92%; object-fit: cover; }
/* line 160, ../scss/style2.scss */
.services-image .box-photo .layor-opacity-img { display: none; position: absolute; left: 266px; top: 173px; }
/* line 165, ../scss/style2.scss */
.services-image .box-photo .layor-opacity-img i { color: white; font-size: 2.5em; }
/* line 171, ../scss/style2.scss */
.services-image .box-photo:hover .layor-opacity-img { display: block; }

/* line 178, ../scss/style2.scss */
.services-video .photo { width: 100%; height: 92%; object-fit: cover; }
/* line 184, ../scss/style2.scss */
.services-video .video .full-box-video { position: relative; }
/* line 186, ../scss/style2.scss */
.services-video .video .full-box-video .play-video { display: none; position: absolute; left: 240px; top: -200px; }
/* line 194, ../scss/style2.scss */
.services-video .video:hover .play-video { display: block !important; }

/* line 203, ../scss/style2.scss */
.new-blog .blog__img img, .all-blog .blog__img img, .detail-blog .blog__img img { width: 95%; height: auto; object-fit: cover; }
/* line 210, ../scss/style2.scss */
.new-blog .content-blog .blog__title, .all-blog .content-blog .blog__title, .detail-blog .content-blog .blog__title { font-size: 26px; }
/* line 213, ../scss/style2.scss */
.new-blog .content-blog .blog__date, .all-blog .content-blog .blog__date, .detail-blog .content-blog .blog__date { color: gray; }

/* line 220, ../scss/style2.scss */
.sample-new-blog .blog__img img { width: 100%; height: auto; }
/* line 226, ../scss/style2.scss */
.sample-new-blog .content-blog .blog__date { color: gray; }

/* line 234, ../scss/style2.scss */
.all-blog .content-blog .blog__title { font-size: 16px; }

/* line 241, ../scss/style2.scss */
.detail-blog .blog__text { line-height: 1.5; text-align: justify; }

/* line 248, ../scss/style2.scss */
.contact .address .fa-map-marker-alt:before, .contact .address .fa-phone:before, .contact .address .fa-envelope:before { color: #f9c979; font-weight: 900; }

/* line 260, ../scss/style2.scss */
.form-row { width: 100%; }

/* line 263, ../scss/style2.scss */
.column-half { display: inline; width: 50% !important; float: left; position: relative; padding: 0.65rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 273, ../scss/style2.scss */
.contact__form { background: ghostwhite; padding: 20px; margin-bottom: 50px; box-shadow: -3px -5px px5px #eee; background-color: #ffffff; box-shadow: -2px -2px 2px 2px #eee; }

/*# sourceMappingURL=style2.css.map */
